*
{
    margin: 0 auto;
}

ul
{
    background: #069;
    height: 35px;
    padding: 10px 10px 15px;
    /* margin: auto; */
}

ul li
{
    list-style-type: none;
}

ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    margin-right: 15px;
    color: #fff;
    padding: 10px 15px;
}

ul li:hover a
{
    color: #d7d7d7;
    background: #fff;
}

.active
{
    color: #d7d7d7;
    background: #fff;
}

.submenu
{
    position: absolute;
    width: 99.4%;
    margin-left: -20px;
    margin-top: 35px;
    padding: 10px;
    height: 260px;
    color: #fff;
    background: #069;
    border-top: 5px solid #fff;
    display: none;
}

.submenu h3{
    padding-left: 15px;
}

.submenulists
{
    width: 23%;
    /* orignial 23% */
    /* If width is 15% 6 levels can be added */
    /* If width is 13% 7 levels can be added */
    float: left;
}

.submenulists li a{
    float: none;
    display: block;
}

ul li:hover .submenulists li a
{
    background: #069;
    color: #fff;
    }

ul li .submenulists li:hover a{
    color: #d7d7d7;
    font-weight: bold;
}

ul li:hover .submenu
{
    display: block;
}